<h1>Products!</h1>

<%= link_to 'Add a product', new_provider_path %>

<% @providers.each do |provider|%>
<h2> <%= link_to provider.product_type, provider_path(provider.id) %> </h2>
<p><%= provider.description %></p>
<p><%= provider.curriculum_type %></p>

<% if current_user == provider.user_id %>
  <%= link_to 'delete', provider_path(provider.id), method: :delete %>
<% end %>
<%end  %>
