
<h1><%= @provider.product_type %></h1>
<p><%= @provider.description %></p>
<p><%= @provider.curriculum_type %></p>
<p><%= @provider.age_group %></p>
<p><%= @provider.cost %></p>

<%= link_to 'All products', providers_path %>
