<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <%= link_to "E|D|J", root_path, :class => 'navbar-brand'  %>
  <div class='abt'><%= link_to "About", root_path, :class => 'navbar-brand'%></div>
  <%= link_to "Map", root_path, :class => 'navbar-brand'  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
  <strong><%= current_user.email %></strong>
  <li class="nav-item dropdown">
       <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
        
      </li>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%# <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    </ul>
  </div>
</div>
