<% provinces = Province.all.map{|x| [x.name, x.id]}.unshift(['Province', 0]) %>
<% school_types = ["School Type", "Bilingual", "International", "International Division"] %>
<% curiculum_types = ["Curriculum Type" , "IB/Chinese", "IB", "IGCSE/Alevel"] %>
<% age_range = ["Age Range", "Elementary", "Middle-school", "High-school"] %>
<% selected_province = params[:province] || 0 %>

<div style="display: flex; justify-content: center; width: 100%;">
  <%= form_with(url: "/schools", method: "get", remote: true, class: "input-group") do %>
    <div class="d-flex flex-row col-10">
      <%= select_tag(:province, options_for_select(provinces), {class: 'custom-select'}) %>
      <%= select_tag(:school_type, options_for_select(school_types), {class: 'custom-select'}) %>
      <%= select_tag(:curiculum_type, options_for_select(curiculum_types), {class: 'custom-select'}) %>
      <%= select_tag(:age_range, options_for_select(age_range), {class: 'custom-select'}) %>

      <%= submit_tag "Filter", class: "btn btn-primary", onclick: "submit();" %>

    </div>
  <% end %>
</div>

<script>
  function submit() {
    console.log('submited')
  }
</script>

