
<div style="width: 60%; margin: 30px auto;">
  <!-- <h2>School Info</h2> -->
  <div class= "container">
    <div class="card-body-content school-card">
      <div class="mb-5 d-flex align-items-center" style="max-width: 1400px;">
        <%= image_tag "School#{rand(1..4)}.jpg", class: "logo-school-show mr-4" %>
        <div>
          <h3 class="card-subtitle mb-2"><%= @school.name %></h3>
          <div class="text-muted" style="font-size: 18px;"><%= @school.province.name %></div>
        </div>
      </div>

      <div>
        <div class="d-flex align-items-center w-100 mb-2">
          <div class="w-25 text-muted">Type</div>
          <div style="font-size: 18px;"><%= @school.school_type %></div>
        </div>
        <div class="d-flex align-items-center w-100 mb-2">
          <div class="w-25 text-muted">Curriculums</div>
          <div style="font-size: 18px;"><%= @school.curiculum_type %></div>
        </div>
        <div class="d-flex align-items-center w-100 mb-2">
          <div class="w-25 text-muted">Students enrolled</div>
          <div style="font-size: 18px;"><%= @school.student_enrolment %></div>
        </div>
        <div class="d-flex align-items-center w-100">
          <div class="w-25 text-muted">Students performance</div>
          <div class="d-flex">
            <h4><span class="mr-2 badge badge-pill badge-warning">ACT mean: <%= @school.act_mean %></span></h4>
            <h4><span class="mr-2 badge badge-pill badge-warning">SAT reading: <%= @school.sat_reading %></span></h4>
            <h4><span class="mr-2 badge badge-pill badge-warning">SAT math: <%= @school.sat_math %></span></h4>
          </div>
        </div>
      </div>
    </div>

    <%= render 'static_show' %>

    <div class="d-flex justify-content-center w-100">
      <button style="width: 200px;" type="button" id="toggle" class="btn btn-lg btn-outline-primary" onclick="requestService();">Request</button type="button">
    </div>

    <div class="px-3">
      <%= form_with(url: "/service_requests", html: {id: "my_form", style:"visibility: hidden"}, method: "post", remote: true, class: "input-group w-100") do %>
        <div class="d-flex flex-row w-100">
          <%= select_tag(:product_id, options_for_select(@products.map{ |x| [x.name, x.id] }), {class: 'custom-select h-100'}) %>
          <input type="hidden" name="school_id" value="<%= @school.id %>">
          <%= submit_tag "Request", class: "btn btn-lg btn-outline-primary ml-3", style: "width: 300px;" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<script>
  const requestService = () => {
    console.log("clicked!");
    document.getElementById('toggle').style.visibility='hidden';
    document.getElementById('my_form').style.visibility='visible';
  }
</script>
