
<div style="width: 60%; margin: 30px auto;">
  <!-- <h2>School Info</h2> -->
  <div class= "container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4" style= "text-align: center; height: 350px;
        margin-left: 0px; width: 340px;">
          <%= image_tag "School#{rand(1..4)}.jpg",class:"card-img" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text ">
            <%= link_to 'All schools', schools_path %>
            <h4><%= @school.name %></h4>
            <h5>Type: <%= @school.school_type %></h5>
            <h5>Curriculum: <%= @school.curiculum_type %></h5>
            <h5>Address: <%= @school.province.name %></h5>
            <h5>Student population: <%= @school.student_enrolment %></h5>
            <h5>ACT mean: <%= @school.act_mean %></h5>
            <h5>SAT reading: <%= @school.sat_reading %></h5>
            <h5>SAT math: <%= @school.sat_math %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'static_show' %>

  <div class="d-flex justify-content-end w-100">
    <button style="width: 200px;" type="button" id="toggle" class="btn btn-primary" onclick="requestService();">Request</button type="button">
  </div>

  <div>
    <%= form_with(url: "/service_requests", html: {id: "my_form", style:"visibility: hidden"}, method: "post", remote: true, class: "input-group w-100") do %>
      <div class="d-flex flex-row w-100">

        <%= select_tag(:product_id, options_for_select(@products.map{ |x| [x.name, x.id] }), {class: 'custom-select'}) %>
         <input type="hidden" name="school_id" value="<%= @school.id %>">
        <%= submit_tag "Request", class: "btn btn-primary", style: "width: 300px;" %>

      </div>
    <% end %>
  </div>


</div>

<script>
  const requestService = () => {
    console.log("clicked!");
    document.getElementById('toggle').style.visibility='hidden';
    document.getElementById('my_form').style.visibility='visible';
  }
</script>
