
<div style="max-width: 1400px; margin: 0 auto;">
  <h2>School Info</h2>
  <div class= "container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4" style= "text-align: center; height: 350px;
        margin-left: 0px; width: 340px;">
          <%= image_tag "School#{rand(1..4)}.jpg",class:"card-img" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text ">
            <%= link_to 'All schools', schools_path %>
            <h4><%= @school.name %></h4>
            <h5>Type: <%= @school.school_type %></h5>
            <h5>Curriculum: <%= @school.curiculum_type %></h5>
            <h5>Address: <%= @school.province %></h5>
            <h5>Student population: <%= @school.student_enrolment %></h5>
            <h5>ACT mean: <%= @school.act_mean %></h5>
            <h5>SAT reading: <%= @school.sat_reading %></h5>
            <h5>SAT math: <%= @school.sat_math %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# STATIC TEXT %>
  <div class="text">
    <h3>Overview</h3>
    <p>Co-educational, all-through (ages 3-18) day school founded in 1998. CISS is affiliated with the Lutheran Church Missouri Synod. The campus is in Jinqiao, with ten acres of indoor and outdoor facilities, including several maker spaces and labs designed for hands-on work in 3D printing, coding, robotics and cooking. The American curriculum is followed, including AP. There’s also a focus on applied learning, giving students practical experience in fields such as enterprise, and over 175 co-curricular activities to choose from. This International School Shanghai is a co-educational day school for students aged 3 to 18, located in the heart of Jinqiao, one of Shanghai’s largest international communities. Concordia is recognized for its dedication to academic excellence and for providing well-developed sports, arts, service and applied learning programs. Our caring and passionate faculty deliver a comprehensive American curriculum and pioneer programs that guide students toward life success—no matter how they define it. By partnering with engaged parents, we cultivate the best outcomes for each student. The community at this creates the ideal foundation for the entire family’s success. At this, it’s not just about the grades. It’s about balance. When we say we educate the whole child we mean that we invest in and tend to every part of each student: spiritually, physically, emotionally, socially and intellectually. Our parents are partners with us in this process, helping their student to find his or her own unique balance. With this partnership and shared values, every child wins.</p>
    <h3>History</h3>
    <p>Founded in 1998, this has grown from 22 students and 14 staff members under the direction of founder Allan Schmidt to its current enrollment of over 1,200 students from pre-K to grade 12 under the direction of Dr. Mary Scott, the head of school. In August 2007, the school opened its new elementary school building (replacing an existing structure) and the David F. Rittmann Fine Arts Center (featuring a 450-seat theater to support the drama program, 2D and 3D art rooms, art gallery, band/choir/orchestra rooms, and music practice rooms). For the start of the 2015/2016 school year, this added a new welcome center, cooking studio, drama room, business center, student media center, artificial turf, and a blue track to the school. For the start of the 2016/2017 school year, this added new wall extensions, enclosing passages between, and into, buildings, a new music department office, a new Luther meeting room, and a middle school classroom (where the old Luther room used to be).</p>
    <h3>Programs & Extracurricular</h3>
    <p>This International School Shanghai offers several programs throughout the year for students from pre-K to grade 12. Programs range from sports such as soccer, softball, tennis, swimming, basketball, volleyball, baseball, cross country, track, and ultimate frisbee. This is a member of the Asia Pacific Activities Conference which hosts competition events for international schools in P.R.C. China, Hong Kong, Vietnam, Japan, South Korea, and the Philippines. this also participates in APAC with various athletics and arts teams. This International School Shanghai is accredited by the Western Association of Schools and Colleges (WASC). In addition, this is also a member of associations, such as ACAMIS and EARCOS. The school is a participant of the Asia Pacific Activities Conference (APAC), an athletic and arts program for international schools in six countries across East Asia. Concordia is the host school of CISSMUN, a model United Nations conference that is affiliated with The Hague International Model United Nations (THIMUN). Every year, this, Shanghai Community International School (SCIS), Shanghai American School and other schools have a soccer day for the elementary school, which Shanghai American school initiated. The high school administration body offers a wide array of internationally recognized competitions and events such as (not limited to): IPPF, World Scholars Club, Model United Nations, SCISAC, Asia Pacific Activities Conference (APAC), Association for Music in International Schools (AMIS), and DECA (Organization).</p>
  </div>

  <div class= "container">
    <div class="card mb-3" style="max-width: 1400px;">
      <div class="row no-gutters">
        <div class="col-md-4" style= "text-align: center; height: 350px;
        margin-left: 0px; width: 340px;">
          <%= image_tag "School#{rand(1..4)}.jpg",class:"card-img" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text ">
            <% if user_signed_in? %>
              <h2>Find a product to endorse.</h2>
              <% @products.each do |product| %>
                <h5><%= product.name %></h5>
                <p><%= product.description %></p>
                <p>Subject: <%= product.product_type %></p>
                <p>Age group: <%= product.age_group %></p>
                <p>Cost: <%= product.cost %></p>
                <%= link_to 'Endorse', service_requests_path(product_id: product.id, school_id: @school.id), method: :post  %>
              <% end %>
            <% end %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
