<%#= link_to product_path(product.id),
  class: "text-decoration-none card mb-3 custom-radius", style: 'overflow: hidden;' do  %>
  <div class="card mb-3 custom-radius" style="max-width: 900px;">
    <div class="row no-gutters p-3">
      <div class="col-md-4">
        <%= image_tag "Edtech.jpg", class: "card-img1" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-text">
            <h2 class="text-dark"><%= product.name %></h2>
            <h5><span class="badge badge-pill badge-primary"><%= product.product_type %></span></h5>
            <p class="text-secondary"><%= product.description %></p>
            <p class="text-secondary"><%= product.curriculum_type %></p>
            <!-- <p class="card-text"><small class="text-muted"></small></p> -->
            <% if current_user.id == product.user_id %>
              <i class="text-secondary fa fa-trash position-absolute" style="right: 10px; bottom: 10px;"></i>
              <%#= link_to 'delete', product_path(product.id), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>
