
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Edujimao </div>
      <div class="list-group list-group-flush">
        <!-- <a class="nav-link active" href="/products">My Products</a> -->
        <a href="#" class="list-group-item list-group-item-action bg-light active">My Products</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Inbox</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Requests</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Chat</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recommendations</a>

      </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div>
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">New Message</button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Reply <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Archive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pin</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class= "container">
       <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
          <div class="col-md-4" style= "text-align: center; height: 192px;
              margin-left: -15px; width: 120px;">
            <%= image_tag "Edtech.jpeg",class:"card-img" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <!-- <p class="card-text "> -->

                <h3>Product: <%= @product.name %></h3>
                <p><%= @product.product_type %></p>
                <p><%= @product.description %></p>
                <p><%= @product.curriculum_type %></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>



<!-- <<nav class="nav">
  <a class="nav-link active" href="#">Reply</a>
  <a class="nav-link" href="#">Delete</a>
  <a class="nav-link" href="#">Archive</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pinned</a>
</nav>
<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/products">My Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recommendations</a>
      </li>
      <li id="space"></li>
    </ul>

  </div>




    <div>
      <%= link_to 'View all requests', service_requests_path(product_id: @product.id) %>
    </div>
  </div>


  <% if user_signed_in? %>
    <div> -->
      <!-- START of search bar -->

  <h5><%= @product.name %></h5>
  <h5><em><%= @product.description %></em></h5>
  <h5><%= @product.cost %></h5>

  <% if user_signed_in? %>
    <div>




      <div>
        <!-- START of search bar -->
        <%= form_tag product_path(@product), method: :get do %>
          <%= text_field_tag :query
             # params[:query],
             # class: "form-control string required",
             # placeholder: "Search"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <!-- END of search bar -->

        <p><h3>Partner with a school</h3></p>
        <% @schools.each do |school| %>
        <form action="/service_requests" method="post">

          <div class= "container">
       <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
          <div class="col-md-4" style= "text-align: center; height: 192px;
              margin-left: -15px; width: 120px;">
            <%= image_tag "Edtech.jpeg",class:"card-img" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <!-- <p class="card-text "> -->
                  <h4><label for="name"><%= school.name %></label></h5>

                  <h5>Province: <label for="name"><%= school.province %></label></h5>
                  <!-- <input name="authenticity_token" type="hidden" value="token_value"> -->

                   <input type="hidden" name="product_id" value="<%= @product.id %>">
                    <input type="hidden" name="school_id" value="<%= school.id %>">
                    <input type="submit" name="Submit Request" value="Submit Request">

                <p class="card-text"><small class="text-muted"></small></p>
              </div>

            </div>
          </div>
        </div>
      </div>


          <h4><label for="name"><%= school.name %></label></h5>
          <h5>Province: <label for="name"><%= school.province %></label></h5>
          <!-- <input name="authenticity_token" type="hidden" value="token_value"> -->
          <input type="hidden" name="product_id" value="<%= @product.id %>">
          <input type="hidden" name="school_id" value="<%= school.id %>">
          <input type="submit" name="Submit Request" value="Submit Request">

        </form>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- <%#= link_to 'All products', products_path %> | <%#= link_to 'Book', products_path %> -->




