

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Edujimao </div>
      <div class="list-group list-group-flush">
        <!-- <a class="nav-link active" href="/products">My Products</a> -->
        <a href="#" class="list-group-item list-group-item-action bg-light active">My Products</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Inbox</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Requests</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Chat</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recommendations</a>

      </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

      <div id="page-content-wrapper">

      </div>

      <div class= "container">
       <div class="card mb-3" style="max-width: 1400px;">
        <div class="row no-gutters">
          <div class="col-md-4" style= "text-align: center; height: 192px;
              margin-left: -15px; width: 120px;">
            <%= image_tag "Edtech.jpeg",class:"card-img" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <!-- <p class="card-text "> -->

                <h3>Product: <%= @product.name %></h3>
                <p><%= @product.product_type %></p>
                <p><%= @product.description %></p>
                <p><%= @product.curriculum_type %></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>

            </div>
          </div>
        </div>
      </div>


    <div>
      <%= link_to 'View all requests', service_requests_path(product_id: @product.id) %>
    </div>



  <% if user_signed_in? %>
    <div>
      <!-- START of search bar -->

    <h5><%= @product.name %></h5>
    <h5><em><%= @product.description %></em></h5>
    <h5><%= @product.cost %></h5>

    <!-- </div> -->

      <div>
        <!-- START of search bar -->
        <%= form_tag product_path(@product), method: :get do %>
          <%= text_field_tag :query

          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <!-- END of search bar -->

        <p><h3>Partner with a school</h3></p>
        <% @schools.each do |school| %>

          <div class= "container">
            <div class="card mb-3" style="max-width: 1400px;">
              <div class="row no-gutters">
                <div class="col-md-4" style= "text-align: center; height: 192px;
              margin-left: -15px; width: 120px;">
                   <%= image_tag "Edtech.jpeg",class:"card-img" %>
                   <!-- <form action="/service_requests" method="post">
                      <h4><label for="name"><%= school.name %></label></h5>
                      <h5>Province: <label for="name"><%= school.province %></label></h5>

                      <input type="hidden" name="product_id" value="<%= @product.id %>">
                      <input type="hidden" name="school_id" value="<%= school.id %>">
                      <input type="submit" name="Submit Request" value="Submit Request">

                   </form> -->
                </div>


              </div>
            </div>
          </div>
        <% end %>
      </div>



    </div>
  <% end %>








