<nav class="nav">
  <a class="nav-link active" href="#">Reply</a>
  <a class="nav-link" href="#">Delete</a>
  <a class="nav-link" href="#">Archive</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pinned</a>
</nav>
<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/products">My Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recommendations</a>
      </li>
      <li id="space"></li>
    </ul>
  </div>




    <div>
      <%= link_to 'View all requests', service_requests_path(product_id: @product.id) %>
    </div>
  </div>



  <div>
    <!-- START of search bar -->
    <%= form_tag product_path(@product), method: :get do %>
      <%= text_field_tag :query
         # params[:query],
         # class: "form-control string required",
         # placeholder: "Search"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <!-- END of search bar -->

    <div>
      <p><h3>Search for partner school/s</h3></p>
      <% @schools.each do |school| %>
      <form action="/service_requests" method="post">
        <label for="name"><%= school.name %></label>
        <!-- <input name="authenticity_token" type="hidden" value="token_value"> -->
        <input type="hidden" name="product_id" value="<%= @product.id %>">
        <input type="hidden" name="school_id" value="<%= school.id %>">
        <input type="submit" name="Submit Request" value="Submit Request">
      </form>
      <% end %>
    </div>
  </div>

  <!-- <%#= link_to 'All products', products_path %> | <%#= link_to 'Book', products_path %> -->




</div>


