<nav class="nav">
  <a class="nav-link active" href="#">Reply</a>
  <a class="nav-link" href="#">Delete</a>
  <a class="nav-link" href="#">Archive</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pinned</a>
</nav>
<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">My Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recommendations</a>
      </li>
      <li id="space"></li>
    </ul>
  </div>
<h1>Product</h1>
<h1><%= @product.product_type %></h1>

<p><%= @product.description %></p>
<p>Subject: <%= @product.product_type %> </p>
<p>Curriculum: <%= @product.curriculum_type %></p>
<p>Age group: <%= @product.age_group %></p>
<p>Cost: <%= @product.cost %></p>

<%= link_to 'View all requests', service_requests_path(product_id: @product.id) %>

<!-- START of search bar -->
<%= form_tag product_path(@product), method: :get do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form_control string required",
      placeholder: "find a school" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!-- END of search bar -->


<!-- <%#= link_to 'All products', products_path %> | <%#= link_to 'Book', products_path %> -->
<p><h3>Search for partner school/s</h3></p>
<% @schools.each do |school| %>
<p><%= school.name %> <%= link_to 'Request to Connect', service_requests_path(product_id: @product.id, school_id: school.id), method: :post %> </p>
<% end %>

</div>


